.message{data: {message: {id: message.id}}}
  .upper-info
    .upper-info__talker
      = message.user.name
    .upper-info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .lower-info
    - if message.content.present?
      %p.lower-info__content
        = message.content
    = image_tag message.image.url, class: 'lower-info__image' if message.image.present?