-# メイン画面右側全体を指定
.main-chat
  -# 上部分
  .current-group
    .group-name-member
      .group-name
        test
      .group-member
        Member: username
    .group-name-edit
      = link_to "#", class: "group-name-edit__edit-btn" do
        Edit

  -# 中央部分
  .chat-contents
    .chat-contents__a_message
      .username_and_post-date
        .username
          username
        .post-date
          2020/02/02(Sun) 11:02:01
      .text-contents
        おはよう！
      .username_and_post-date
        .username
          stranger
        .post-date
          2020/02/02(Sun) 13:08:34
      .text-contents
        こんにちは！
  
  -# 下部分
  .message-form
    %form.text-box
      %input.text{:placeholder => "type a message", :type => "text"}
      %label{class: "add_img"}
        = icon('fas', 'image')
        %input.file{:type => "file", :class => "file"}
    %input.submit-btn{:value => "Send", :type => "submit"}
