.main-chat
  .current-group
    .group-name-member
      .group-name
        test
      .group-member
        Member: username
    .group-name-edit
      = link_to "#", class: "group-name-edit__edit-btn" do
        Edit
  .contents
    contents
  .footer
    footer