-# メイン画面左側全体を指定
.side-bar
  -# 上部：ユーザー名表示
  .side-bar__top
    .user-name-box
      .user-name
        username
      .edit-setting-icons
        = link_to "#", class: "edit-setting-icons__btn" do
          = icon('fa', 'edit')
        = link_to "#", class: "edit-setting-icons__btn" do
          = icon('fa', 'cog')
  -# 下部：グループリスト表示
  .side-bar__main-group-lists
    .a_group-list
      .a_group-list__group-name
        techexpert
      .a_group-list__message-notice
        まだメッセージはありません